@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Maven+Pro:wght@400..900&display=swap');
@font-face {
	font-family: 'Brocades Sans';
	url('/fonts/BrocadesSans.woff') format('woff')
}
@font-face {
	font-family: 'Ge Body';
	url('/fonts/GeBody.woff') format('woff')
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #282828;
    font-family: 'Ge Body', 'Maven Pro', Comfortaa;
}

header{
	position: absolute;
	width: 100vw;
	z-index: 6000;
}

.devPlaceholder {
	text-align: center;
	height: 100%;
	padding-top: 300px;
}

#section1 {
	background-color: grey;
	background-image: url('../img/placeholder1.jpg');
	background-size: cover;
	background-position-x: center;
}

#section2 {
	background-color: red;
	background-image: url('../img/placeholder2.jpg');
	background-size: cover;
	background-position-x: center;
}

#section3 {
	background-color: blue;
	background-image: url('../img/placeholder3.jpg');
	background-size: cover;
	background-position-x: center;
}

#section4 {
	background-color: green;
	background-image: url('../img/placeholder4.jpg');
	background-size: cover;
	background-position-x: center;
}

.content {
	padding: 20px;
	box-sizing: border-box;
	width: 100dvw;
	height: 100dvh;
}

#section1 #video {
	width: 100dvw;
	height: 100dvh;
	margin: -20px;
	padding: 0;
	overflow: hidden;
}

#section1 #video video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

#section1 #videoOverlay #title {
	position: absolute;
	bottom: 15dvh;
	left: 3dvw;
	color: white;
	font-variant: small-caps;
}

#section1 #videoOverlay #title p {
	margin: 0;
}

#section1 #videoOverlay #title p.h4 {
	margin: 0;
	font-variant: none;
	position: absolute;
	right: 0;
	bottom: 6.8rem;
}